{% extends 'base.html.twig' %}

{% block title %}Connection{% endblock %}

{% block body %}
<div class="container vh-100  d-flex flex-column  align-items-center justify-content-center w-100">
<div class="row align-items-center justify-content-center w-100">
<div class="col-12 col-sm-8 col-lg-6 col-xl-6 shadow">
<form method="post" class="p-4">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connectés en tant que: {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Connection à Mon Garage.be</h1>
    <div class="form-group">
        <label class="form-label" for="inputEmail">Email:</label>
        <input  type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email"  placeholder="johnDo@gmail.com" required autofocus>
    </div>
    <div class="form-group">
        <label for="inputPassword">Mot de passe:</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
    </div>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

    #}
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> se souvenir:
            </label>
        </div>

    <button class="btn btn-lg btn-success rounded-1 d-block m-auto mt-2 mb-2" type="submit">
        connection
    </button>
</form>
</div>
</div>
</div>
{% endblock %}
