{% extends 'base.html.twig' %}

{% block body %}
{#set url de mes slug#}
  {% set edit = path('edit_car',{'slug':car.slug}) %}
    {% set delete  =  path('delete_car',{'slug':car.slug}) %}

<div class="container-fluid p-0 m-0 ">
  <div class="col-12 carrouselShowCar shadow-lg ">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
      {#création de ma boucle pour afficher mes images #}
      {% for img in car.images %}

        {# on donne une condition pour que seul la première image reçoit la classe active #}
        
        <div class="carousel-item {% if loop.first %}active{% endif %}">
          <img src="{{img.nameImg}}" class="d-block w-100" alt="{{img.caption}}">
        </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="container shadow h-auto p-0">
    <div class="viewInfo d-flex justify-content-around align-items-center shadow"> 
      <div class="container d-flex justify-content-around align-items-center flex-wrap mb-2">
        <p>{{car.mark.nameMark | upper}} {{car.model | upper}}</p>
        <p>{{car.price |format_currency('EUR', locale='fr')}}
        </p>
        <div class="d-flex">
          <button class="d-block btn btn-primary shadow">Réserver</button>
          {% if app.user and app.user.roles[0] == "ROLE_ADMIN" %}
          <a href="{{edit}}" class="btn btn-warning ms-1 shadow">Edit</a>
          <a href="{{delete}}" class="btn btn-danger ms-1 shadow">supprimer</a>
          {% endif %}
        </div>
          
      </div>
    </div>
    <div class=" container-lg viewInfo infoCars w-100 d-flex  h-auto"> 
      
        <div class="row  justify-content-around align-items-center p-2 h-auto car-info-p">
          <div class="d-flex justify-content-center h-auto  flex-wrap">
            <p class="btn btn-light shadow rounded m-2">Première immatriculation:  <span>{{car.yearOfEntry | date("d/m/Y")}}</span></p>
            <p class="btn btn-light shadow rounded  m-2">Kilométrage:  <span>{{car.km}} km</span></p>
            <p class="btn btn-light shadow rounded  m-2">Nombre(s) de propriétaires(s):<span>{{car.NumberOwners}}</span></p>
          </div>
          <div class="d-flex justify-content-center flex-wrap">
            <p class="btn btn-light shadow rounded m-2">Cylindrée:  <span>{{car.engineSize}} CC</span></p>
            <p class="btn btn-light shadow rounded m-2">Puissance:  <span>{{car.powerEngine}} CH</span></p>
            <p class="btn btn-light shadow rounded m-2">Transmission:  <span>{{car.Transmission}}</span></p>
            <p class="btn btn-light shadow rounded m-2">Carburant: <span>{{car.fuel}}</span></p>
          </div>
    
      </div>
    </div>

    <div class="descr container  mt-2 p-0">
    <h2 class="">Description:</h2>
      <p>{{car.description}}</p>
    </div>

    <div class="descr container  mt-2 p-0">
      <h2 class="">Options:</h2>
      {% for option in car.GetExplodeString  %}
      <span class="btn shadow rounded-1 btn-gold fw-bold mb-2">{{option}}</span>
      {% endfor %}
  
    </div>
  </div>

</div>

{% endblock %}
